h1,
p,
div,
h2,
h3 {
  margin: 0px;
  padding: 0px;
}
/*corpo*/
body {
  font-family: "fira sans", Arial, Helvetica, sans-serif;
  margin: 0rem;
  padding: 0rem;
}

img {
  max-width: 100%;
  display: block;
}

/*menu*/
header {
  padding: 40px 0px;
  max-height: 40px;
  max-width: 1200px;
  align-content: center;
  margin: 0px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.menu-header ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 2rem;
  padding: 3rem 6rem;
  font-size: 1.2rem;
  padding-right: 0px;
}
.menu-header a {
  text-decoration: none;
  color: black;
}

/*introdução*/
.apresentaçao {
  display: grid;
  grid-template-columns: 4fr 8fr;
  gap: 5rem;
  font-size: 3rem;
  text-align: left;
  grid-template-rows: 1fr;
  align-items: center;
}

.apresentaçao p {
  color: gray;
  font-size: 1.5rem;
  display: inline;
}

/*detalhe*/
.detalhe h1 {
  position: relative;
}
.detalhe h1::after {
  content: "";
  display: block;
  background: url(../IMG/detalhe.svg) no-repeat center;
  position: absolute;
  width: 150px;
  height: 100px;
  z-index: -1;
  top: -13px;
  left: -52px;
}
/*parte 1, 2 e 3 tamanhos*/
.apresentaçao,
.parte2 {
  max-width: 1200px;
  align-content: center;
  margin: 0 auto;
}
.parte3 {
  max-width: 1200px;
  align-content: center;
}

@media (max-width: 800px){
  html{
    display: grid;
    grid-template-columns: 1fr;
    padding: auto;
  }

  .detalhe h1{
    font-size: 45px;
    margin: 0px auto;
    padding: 0px;
  }
      body{
        font-family: "fira sans", Arial, Helvetica, sans-serif;
        text-align: center;  
        max-width: 900px;
      }
    header {
      max-width: 800px;
      align-content: center;
      margin: 0px auto;
      display: grid;
      grid-template-columns: 1fr;
    }
    
      .lobotxt{    
        justify-self: center;
        margin: 10px;
        padding: 5px;
      }

      .menu-header{
        margin-top: -80px;
      }
      
      .menu-header ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: center;
        list-style: none;
        gap: 10px;
        padding: 30px;
    
      }
    
      .menu-header a { 
      display: block;
      color: black; 
      text-decoration: none;
      background-color: rgb(212, 212, 212);
      padding: 5px 10px;
      border-radius: 4px;
    }
    .apresentaçao{
      grid-template-columns: 1fr;
      gap: 0px;
    }
    
    
    .imglobo>img{
      padding: 0px;
      max-width: 0;
      margin: 0px;
      
    }
    .detalhe{
      margin-top: 0px;
      display: block;
      padding: 0px auto;
      text-align: center;
      
    }
    .detalhe h1{
    position: relative;
    }
    .apresentaçao h1::after {
      content: "";
      display: block;
      background: none}

    .detalhe>h1{
    margin: 0px;

    }
    .detalhe>p{
    margin: 0px;
    padding: 0px;
    font-weight:500 ;
    
    }
}

