/*Fundo Preto*/
.p3backgroud{
  background-color: rgb(20, 20, 20);
  padding-bottom: 90px;
}
.parte3{
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  padding: 80px;
  gap: 90px;
  padding-top: 100px;
  align-content: center;
  margin: 0 auto;
}
/*lado esquerdo*/
.formação{
  color: black;
  font-weight: 800;
  font-size: 90px;
}
.formação > h1{
  padding-top: 0px;
  margin: 0px;
}
/*lado direito*/
/* texto inicial*/
.formdireita h3{
  font-size: 23px;
  max-width: 550px;
  color: rgb(170, 170, 170);
  font-weight: 75;
}
/*detalhe do texto*/
.formdireita > h3 > strong {
  color: white;
}

/*especialização*/
.formitens{
  margin-top: 60px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
  color: white;
}

/* definições da caixa*/
.f1, .f2, .f3{
  padding: 20px;
  background-color: black;
  max-width: 180px;
  font-size: 15px;
  border-radius: 4px;
}
.f1 > p , .f2 > p , .f3 > p {
  padding-bottom: 15px;
  color: gray;
  }


.f1 > h1, .f3 > h1, .f3 > h1{
      font-size: 20px;
    }

.f1 > h2 {
  padding: 0px;
  margin: 0px;
  padding-top: 30px;
  color: gray;

}

.f2 > h2 {
  padding: 0px;
  margin: 0px;
  padding-top: 55px;
  color: gray;
  font-size: 20px;
}

.f3 > h2 {
  padding: 0px;
  margin: 0px;
  padding-top: 30px;
  color: gray;
  font-size: 20px;
}
/*detalhes em verde*/
.f1>h1, .f2>h1 ,.f3>h1{
  position: relative;
}
.f1>h1::before, .f2>h1::before, .f3>h1::before{
  content: "";
  z-index: 99;
  width: 0.2rem;
  height: 1.5rem;
  background-color: greenyellow;
  position: absolute;
  left: -24px;
  top: 0px;
}




/*cursos e idiomas*/
.cursoi>h3{
  color: gray;
  font-size: 15px;
  font-weight: 700;
  padding: bottom 0.7rem ;
}

.cursosl{
  display: flex;
  justify-content: space-between;
  padding-top:1.3rem ;
  color: white;
  font-size: 1.2rem;
  
}

.cursosl>span{
  color: gray;
}


.idiomas{
  padding-top: 1rem;
}

.ingles{
  padding-bottom: 1rem;
}

.ingles > p, .espanhol > p{
  color: white;
  display: inline;
  font-size: 1.2rem;
  padding-bottom: 1rem;
}

  

.ingles, .espanhol > span{
  color: gray;
  font-size: 1.2rem;
}

/*detalhe*/
.ci{
  padding-top:60px ;
  position: relative;
}

.ci::before{
  width: 150px;
  height: 150px;
  content: "";
  position: absolute;
  background:url(../IMG/cursos.svg) no-repeat ;
  display: block;
  top:57px;
  left: -35px;

}

.idio{
  padding-top: 3rem;
  position: relative;
}

  .idio::before{
    width: 150px;
    height: 150px;
    content: "";
    position: absolute;
    background:url(../IMG/idiomas.svg) no-repeat ;
    display: block;
    top:44px;
    left: -35px;
  }

  @media (max-width: 800px){

  .p3backgroud{
    grid-template-columns: 1fr;
    padding-top: 0px;
    margin-top: 0px;
  }
    
  .parte3{
    grid-template-columns: 1fr;
    padding: 20px

  }
  .formação{
    font-size: 0px;
  }
  .ci::before {
    left: 135px;
  }
  .idio::before{
    left: 180px;
  }
  }